:root {
 --bg: #fff;
 --fg: #000;
 --fg-dim: grey;
 --fg-visited: #555;
 --quote-border: #c6c6c6;
 --quote-bg: #ececec;
}

@media(prefers-color-scheme: dark) {
 :root {
  --bg: #111;
  --fg: #fff;
  --fg-visited: #aaa;
  --quote-bg: #141414;
 }
}

* { transition: all 50ms ease-out; }
*:focus-visible { outline: 2px solid var(--fg); }

body { background: var(--bg); color: var(--fg); overflow-y: scroll; font-family: Helvetica; margin: 0px; }
img, video { height: 100%; }
main { padding: 7px; max-width: 1024px; height: auto; margin-left: auto; margin-right: auto; }
main * { max-width: 100%; }
a { color: var(--fg); overflow-wrap: anywhere; font-weight: bold; text-decoration: underline; text-decoration-color: var(--fg); text-decoration-thickness: 2px; }
a:visited { color: var(--fg-visited); text-decoration-color: var(--fg-visited); }
a:hover { color: var(--fg-dim); text-decoration-color: var(--fg-dim); }

nav { font-size: var(--font-size-big); border-bottom: 3px solid var(--fg); margin: 0px auto; padding: 7px; display: flex; flex-flow: row-reverse; }
nav ul { padding: 0px; margin: 0px; margin-right: auto; }
nav ul li { display: inline-block; margin: 7px; }
nav ul li[sep]::before { content: "|"; }
nav ul li a { text-decoration-color: transparent; }
nav ul li a:visited { color: var(--fg); text-decoration-color: var(--fg); }
nav ul li a:hover, nav ul li a i:hover { color: var(--fg-dim); text-decoration-color: transparent; }

urlmng, filemng { display: inline-flex; gap: 3px; width: 100%; }
urlmng > *:first-child, filemng > *:first-child { margin-left: 7px; }
urlmng > *:last-child, filemng > *:last-child { margin-right: 7px; }

filemng { margin-top: 3px; display: none; }
filemng form input { width: 100%; }

#check { display: none; }
#check:checked ~ #filemng { display: inline-flex; }

urlmng label { display: inline-block; cursor: pointer; border: 2px solid var(--fg); float: right; -webkit-tap-highlight-color: transparent; }
urlmng label:focus { outline: none; }
urlmng label:active { background: var(--fg); color: var(--bg); }

form { align-self: center; display: inline-flex; gap: 3px; width: 100%; }
input, label, button, textarea { padding: 5px 7px; background: var(--bg); color: var(--fg); border: 2px solid var(--fg); text-align: left; font: var(--font-size) Helvetica; margin: 0 auto; }
input[type=text] { width: 100%; }
input[type=submit]:active, input[type=submit]:hover, button:active, button:hover, urlmng label:hover { background: var(--fg); color: var(--bg); cursor: pointer; cursor: pointer; }

details { display: flex; border: 1px solid var(--fg); margin-top: 10px; }
details summary { cursor: pointer; padding: 2px 4px; }
details summary:hover, details summary:hover * { color: var(--bg); background: var(--fg); }
details[open] summary { border-bottom: 1px solid var(--fg); }
details > * { padding: 7px; }

blockquote { display: block; background: var(--quote-bg); margin: 7px; padding: 7px; padding-left: 10px; border: none; border-color: var(--quote-border); border-left: 7px solid var(--quote-border); word-break: break-word; margin-bottom: 14px; }
blockquote::before { content: ""; pointer-events: none; }
blockquote img { margin-right: 10px; float: left; }
blockquote cite { float: right; }

feed { color: var(--fg); padding: 7px; margin: 7px; display: block; border: solid var(--fg-dim) 3px; }
feed h3 { margin: 3px 0px; }
feed p { margin: 0px; margin-top: 1em; }
feed img { height: 1em; }
feed[seen], feed[seen] a { color: var(--fg-dim); text-decoration-color: transparent; }

a[active] { color: var(--fg); text-decoration-color: var(--fg); }
a[active]:hover { color: var(--fg-dim); text-decoration-color: transparent; }
a[inactive] { color: var(--fg-visited); text-decoration-color: var(--fg-visited); }
a[inactive]:hover { color: var(--fg); text-decoration-color: transparent; }

table { border: 2px solid var(--fg); margin: 10px; }
th, td { padding: 10px; border: 1px solid var(--fg); text-align: left; }
th { border: 2px solid var(--fg); }
